<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Your student Of the Month: @Model.FirstName</h3>
    </div>
    <div class="panel-body">

        <div id="album-details">
            <p>
                <em>Student:</em>
                @Model.FirstName
            </p>

        </div>
    </div>
</div>

